<!--
Basic Structure
<!DOCTYPE html>
<html>
    <head>

    </head>
    <body>
        
    </body>
</html>

head tag is where we style code title of page
body tag is main tag inside which we put all tags. body tag means main page.

We have tags for everything like image, heading and many more. Every tag
has opening and closing. eg : <h1> opening tag </h1> closing tag

comment in HTml means making notes and hiding those lines()

Html 5 version

-->
<!DOCTYPE html>
<html>
    <head>
   <title>My website</title>
    </head>
    <body>
        <h1>My name is Tejas Prasanth</h1>
        <h2>i study in grade 6</h2>
        <h3>i am 12 years old</h3>
    </body>
</html>